 body {background-color:black;}
h1{color:rgb(89, 90, 89);}


.container {
    margin:0 auto;
    max-width: 600px;
    height: 70%;
    border-radius: 10%;
    background-color: white;
    padding: 20px;
}

h1 {
    text-align :center;
    font-size: 3em;
}

label {
    margin-left: 25%;
    width: 100px;
    display: inline-block;
} 
#rate-container {
    width: 200px;
    display: inline-block;
}

button {
    margin-left: 40%;
}

#solution {
    width:60%;
    margin: 0 auto;
    height: 150px;
    }

.answers {
    
    text-align: left;
}

